@model ViuSolrSearchSettingsModel
@{
    var searchModel = new AddProductsToHeroProductsSearchModel();
    searchModel.SetGridPageSize(50, "50,100");
}

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="EnableHeroProducts"/>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="EnableHeroProducts"/>
            <span asp-validation-for="EnableHeroProducts"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <nop-label asp-for="HeroProducts"/>
        </div>
        <div class="col-md-9">
            @await Html.PartialAsync("Table", new DataTablesModel
            {
                Name = "products-grid",
                UrlRead = new DataUrl("ProductList", "ViuSolrSearchSettings"),
                UrlDelete = new DataUrl("ProductDelete", "ViuSolrSearchSettings"),
                BindColumnNameActionDelete = nameof(HeroProductModel.ProductId),
                Length = searchModel.PageSize,
                LengthMenu = searchModel.AvailablePageSizes,
                ColumnCollection = new List<ColumnProperty>
                {
                    new ColumnProperty(nameof(HeroProductModel.ProductId))
                    {
                        Title = "",
                        
                    },
                    new ColumnProperty(nameof(HeroProductModel.ProductName))
                    {
                        Title = T("VIU.Plugin.SolrSearch.Admin.Setting.HeroProducts.Table.Product").Text
                    },
                    new ColumnProperty(nameof(HeroProductModel.DisplayOrder))
                    {
                        Title = T("VIU.Plugin.SolrSearch.Admin.Setting.HeroProducts.Table.DisplayOrder").Text,
                        Width = "150",
                        ClassName = NopColumnClassDefaults.CenterAll
                    },
                    new ColumnProperty(nameof(HeroProductModel.ProductId))
                    {
                        Title = "",
                        ClassName = NopColumnClassDefaults.Button,
                        Render = new RenderButtonCustom(NopButtonClassDefaults.Default, T("VIU.Plugin.SolrSearch.Admin.Setting.HeroProducts.Table.MoveDown").Text)
                        {
                            OnClickFunctionName = "moveHeroProductDown"
                        }
                    },
                    new ColumnProperty(nameof(HeroProductModel.ProductId))
                    {
                        Title = "",
                        ClassName = NopColumnClassDefaults.Button,
                        Render = new RenderButtonCustom(NopButtonClassDefaults.Default, T("VIU.Plugin.SolrSearch.Admin.Setting.HeroProducts.Table.MoveUp").Text)
                        {
                            OnClickFunctionName = "moveHeroProductUp"
                        }
                    },
                    new ColumnProperty(nameof(HeroProductModel.ProductId))
                    {
                        Title = T("Admin.Common.View").Text,
                        Width = "150",
                        ClassName = NopColumnClassDefaults.Button,
                        Render = new RenderButtonView(new DataUrl("~/Admin/Product/Edit/"))
                    },
                    new ColumnProperty(nameof(HeroProductModel.ProductId))
                    {
                        Title = T("Admin.Common.Delete").Text,
                        Width = "150",
                        Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
                        ClassName = NopColumnClassDefaults.Button
                    }
                }
            })
            <button type="submit" id="btnAddNewProduct" onclick="javascript:OpenWindow('@(Url.Action("ProductAddPopup", "ViuSolrSearchSettings", new { btnId = "btnRefreshProducts", formId = "hero-products-form" }))', 800, 800, true); return false;" class="btn btn-primary">
                @T("VIU.Plugin.SolrSearch.Admin.Setting.HeroProducts.Table.AddNew")
            </button>
            <input type="submit" id="btnRefreshProducts" style="display: none"/>
            <script>
                $(document).ready(function() {
                    $('#btnRefreshProducts').click(function() {
                        //refresh grid
                        updateTable('#products-grid');
                        //return false to don't reload a page
                        return false;
                    });
                });

                function moveHeroProductUp(id) {
                    var postData = {
                        id: id
                    };
                    addAntiForgeryToken(postData);
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("MoveHeroProductUp", "ViuSolrSearchSettings"))",
                        data: postData,
                        success: function (data, textStatus, jqXHR) {
                            updateTable('#products-grid');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#currencyAlert").click();
                        }
                    });
                }

                function moveHeroProductDown(id) {
                    var postData = {
                        id: id
                    };
                    addAntiForgeryToken(postData);
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "@(Url.Action("MoveHeroProductDown", "ViuSolrSearchSettings"))",
                        data: postData,
                        success: function (data, textStatus, jqXHR) {
                            updateTable('#products-grid');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#currencyAlert").click();
                        }
                    });
                }
            </script>
        </div>
    </div>
</div>